<title><%= title %></title>
<link href="stylesheets/index.css" rel="stylesheet">
<link href="stylesheets/reset.css" rel="stylesheet">
<header class="head clear">
    <div class="logo fl">
        <img src="images/oms_logo.png" alt="logo">
    </div>
    <div class="summary fl">
        <span>运营管理系统</span>
    </div>
    <div class="fr info">
        <span>欢迎 : <%= username %></span>
        <span style="cursor: pointer">
            <i class="icon"></i>退出
        </span>
    </div>
</header>
<aside class="aside">
    <p class="nav">
        <i class="icon"></i>
        <span>菜单导航</span>
        <i class="toggle"></i>
    </p>
    <ul>
        <li>内容管理</li>
        <li>模板管理</li>
        <li>资源管理</li>
        <li>我的工作台</li>
        <li>系统管理</li>
    </ul>
</aside>
<main>

</main>
<footer>

</footer>